NUXT_PUBLIC_NAVER_MAP_CLIENT_ID=your_naver_map_client_id
NUXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NUXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
NUXT_PUBLIC_SUPABASE_STORAGE_BUCKET=portfolio-images
